.component {
    padding: 20px;
  }
  
  .pageTitle {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .search {
    width: 265px;
    outline: none;
    padding: 0 15px;
    margin-left: 10px;
    border: 1px solid #d8d8d8;
  }
  
  .button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d8d8d8;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    &[disabled] {
      background-color: #d8d8d8;
      color: #666666;
    }
  }
  